$primary-black: #1A1A1A;
$primary-white: #F9F8F6;
$text-dark: #1a1a1a;
$text-light: #F9F8F6;
$text-lighter: #6b7280;
$error-light : #FFEAEA;
$error-dark : #D93025;


.password-strength {
    margin-top: -15px;
    margin-bottom: 15px;
    
    .strength-bar-container {
        width: 100%;
        height: 4px;
        background: #e5e7eb;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 5px;
        
        .strength-bar {
            height: 100%;
            transition: all 0.3s ease;
            border-radius: 2px;
        }
    }
    
    .strength-text {
        font-size: 12px;
        font-weight: 500;
    }

    .strength-requirements{
        display: block;
        color: $text-lighter; 
        font-size: 12px; 
        font-weight: 900;
        padding-top: 8px;
    }
}


