@import "../../../../shared/components/forgot_password_shared/forgot-password-shared.scss";


.choose-method-form {

  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-white;
  padding: clamp(24px, 5vw, 56px);
  border-radius: 28px;

  form {
    width: 100%;
    max-width: 430px;
  }

  label {
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;

  .email-reset-button,
  .security-question-reset-button {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: none;
    background: #0f0f10;
    color: #fff;
    font-weight: 800;
    font-style: bold;
    cursor: pointer;
  }
}