<app-transition-loading
  *ngIf="isSendingEmail"
  title="Sending Recovery Code"
  message="Please wait while we send a recovery code to your email."
  [countdownSeconds]="3">
</app-transition-loading>

<div *ngIf="!isSendingEmail" class="choose-method-form">
  <form>
    <header class="form-header">
      <p id="welcome-message">Choose Your Preferred Recovery Method</p>
      <p id="reset-instructions">
        Select one of the available recovery methods below to proceed with resetting your password.
      </p>
    </header>

    <div class="buttons-container">
      <button type="button" class="email-reset-button" (click)="startEmailRecovery()" [disabled]="isLoading">
        Reset via Email Recovery Code
      </button>

      <button 
        type="button" 
        class="security-question-reset-button"
        *ngIf="recoveryOptions?.canUseSecurityQuestionRecovery" 
        (click)="startSecurityQuestionRecovery()"
        [disabled]="isLoading">
        Reset via Security Questions
      </button>
    </div>

    <p class="reset-section">
      Remembered your password?
      <a routerLink="/auth/login">Log in</a>
    </p>
  </form>
</div>