@import "../../../../shared/components/forgot_password_shared/forgot-password-shared.scss";


.enter-email-form {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-white;
  padding: clamp(24px, 5vw, 56px);
  border-radius: 28px;
  min-height: 100%;

  form {
    width: 100%;
    max-width: 430px;
  }

  label {
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }
}
