<div class="password-strength" *ngIf="password">
    <div class="strength-bar-container">
        <div class="strength-bar" [style.width]="width" [style.background-color]="color"></div>
    </div>
    <small class="strength-text" [style.color]="color">
        {{ strength }}
    </small>

    <small class="strength-requirements">
        Password must: <br>
        Be at least 8 characters<br>
        Contain uppercase and lowercase letters<br>
        Include 1 number and 1 special character
    </small>

</div>