@import "../../../../shared/components/forgot_password_shared/forgot-password-shared.scss";


.finish-container {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primary-white;
  padding: clamp(24px, 5vw, 56px);
  border-radius: 28px;

  header {
    text-align: center;
  }

  label {
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }

  .back-to-login-button {
    width: 30%;
    height: 48px;
    border-radius: 10px;
    margin-top: 5%;
    border: none;
    background: #0f0f10;
    color: #fff;
    font-weight: 800;
    font-style: bold;
    cursor: pointer;
  }
}