@import "../../shared/components/forgot_password_shared/forgot-password-shared.scss";


:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $primary-black;
}

.passwordReset-container {
    position: relative;
    display: flex;
    width: clamp(700px, 50vw, 900px);
    min-height: clamp(560px, 72vh, 760px);
    align-items: center;
    margin: 24px auto;


}