<div class="passwordReset-container">

    <div class="enter-email-form" *ngIf="currentStep === forgotPasswordStep.EnterEmail">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <header class="form-header">
                <p id="welcome-message">Reset Your Password</p>
                <p id="reset-instructions">
                    Enter your email address below, and we'll guide you through the process to reset your password.
                </p>
            </header>


            <label>Email</label>
            <div class="form-input">
                <input type="email" placeholder="Enter your email" formControlName="email" />
            </div>
            <div class="error-message" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <small *ngIf="form.get('email')?.errors?.['required']">Email is required</small>
                <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address</small>
            </div>

            <button type="submit" class="reset-button" [disabled]="isLoading">
                Reset Password
            </button>

            <p class="reset-section">
                Remembered your password?
                <a routerLink="/auth/login">Log in</a>
            </p>
        </form>
    </div>

    <!-- Choose Method Step - The user will be given all his recovery options - email or security questions (if he has any) -->


    <div class="choose-method-form" *ngIf="currentStep === forgotPasswordStep.ChooseMethod">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <header class="form-header">
                <p id="welcome-message">Choose Your Preferred Recovery Method</p>
                <p id="reset-instructions">
                    Select one of the available recovery methods below to proceed with resetting your password.
                </p>
            </header>


            <div class="buttons-container">

                <button type="button" class="email-reset-button" (click)="startEmailRecovery()" [disabled]="isLoading">
                    Reset via Email Recovery Code
                </button>

                <button type="button" class="security-question-reset-button"
                    *ngIf="checkRecoveryOptionsResult?.canUseSecurityQuestionRecovery"
                    (click)="startSecurityQuestionRecovery()" [disabled]="isLoading">
                    Reset via Security Questions
                </button>

            </div>


            <p class="reset-section">
                Remembered your password?
                <a routerLink="/auth/login">Log in</a>
            </p>
        </form>
    </div>

    <!-- Email Recovery Step - The user will enter the code that was sent to their email (in this case the mailtrap account i made) -->

    <div class="email-recovery-form" *ngIf="currentStep === forgotPasswordStep.EmailCode">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <header class="form-header">
                <p id="welcome-message">Recovery Code</p>
                <p id="reset-instructions">
                    We have sent a recovery code to your email address. Please enter the code below to proceed with
                    resetting your password.
            </header>


            <label>Recovery Code</label>

            <div class="form-input">
                <input type="text" maxlength="6" inputmode="numeric" placeholder="6 digit code"
                    formControlName="recoveryCode" />
            </div>

            <button type="submit" class="reset-button" [disabled]="form.invalid || isLoading">
                Reset Password
            </button>

            <p class="reset-section">
                Remembered your password?
                <a routerLink="/auth/login">Log in</a>
            </p>
        </form>
    </div>


    <!-- Enter New Password Step - The user will enter his new password here -->

    <div class="reset-password-form" *ngIf="currentStep === forgotPasswordStep.ResetPassword">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <header class="form-header">
                <p id="welcome-message">Reset Your Password</p>
                <p id="reset-instructions">
                    Enter your new password below to complete the reset process. Make sure to choose a strong password
                    that you haven't used before.
                </p>
            </header>


            <label>New Password</label>
            <div class="form-input">
                <input type="password" placeholder="Enter New Password" formControlName="password" />
            </div>

            <app-password-strenght-meter [password]="form.get('password')?.value ?? ''"></app-password-strenght-meter>

            <div class="error-message" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small *ngIf="form.get('password')?.errors?.['required']">Password is required</small>
            </div>



            <label>Reenter your New Password</label>
            <div class="form-input">
                <input type="password" placeholder="Make sure the passwords match" formControlName="confirmPassword" />
            </div>

            <div class="error-message"
                *ngIf="form.get('confirmPassword')?.touched && form.errors?.['passwordMismatch']">
                <small>Passwords do not match</small>
            </div>

            <button type="submit" class="reset-button" [disabled]="isLoading">
                Reset Password
            </button>

            <p class="reset-section">
                Remembered your password?
                <a routerLink="/auth/login">Log in</a>
            </p>
        </form>
    </div>





    <!-- Finished Step - User gets a job well done and can go back to the login page -->


    <div class="finish-container" *ngIf="currentStep === forgotPasswordStep.Done">
        <header>
            <p id="welcome-message">Password has been Reset</p>
            <p id="reset-instructions">
                You have successfully reset your password.<br>
                Press the button below to log in with your new password.
            </p>
        </header>
        <button type="button" class="back-to-login-button" routerLink="/auth/login">
            Log in with New Password
        </button>
    </div>



</div>