@import "../../../../shared/components/forgot_password_shared/forgot-password-shared.scss";

.security-question-recovery-form {

  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-white;
  padding: clamp(24px, 5vw, 56px);
  border-radius: 28px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    justify-content: center;
    align-items: center;
  }

  .form-input {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .form-input select {  
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;  
    border-radius: 8px; 
  }

  label {
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }
}