@import "../../../../shared/components/forgot_password_shared/forgot-password-shared.scss";

.email-recovery-form {

  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-white;
  padding: clamp(24px, 5vw, 56px);
  border-radius: 28px;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    justify-content: center;
    align-items: center;
  }

  .form-input input {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  label {
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }
}

.email-recovery-form .form-input input:hover {
  width: 100%;
}